@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 95vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar li {
  font-size: 20px;
}

.navbar u {
  font-weight: bold;
}

nav img {
  width: 150px;
  height: 150px;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

.cards-wrapper {
  display: grid;
  align-self: center;
  text-align: center;
  justify-content: center;
  padding: 0;
}

.cards {
  margin: 50px auto;
}

.image {
  width: 200px;
}

.cards li {
  padding: 6px;
}

.comments-btn {
  border: 1px solid black;
  padding: 3px;
}

.flex-li {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2px;
}

.like {
  cursor: pointer;
}

.pop-up-container {
  display: none;
  width: 60vw;
  border: 2px #000 solid;
  box-sizing: border-box;
  margin-top: 50px;
  background-color: #1e1b26;
  margin: 60px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 4px;
  background-image: linear-gradient(
      rgba(22, 12, 46, 0.95),
      rgba(73, 66, 92, 0.95)
    ),
    url('img/capstone-meal.jpg');
}

.main-pop-up {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(100, 88, 88, 0.7);
  backdrop-filter: blur(3px);
  overflow-y: scroll;
  z-index: 1;
}

.pop-up-container.pop {
  display: grid;
}

.pop-up {
  text-align: center;
}

.span-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.id-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.meal-details1 {
  color: #a4b3b6;
  font-size: 22px;
  font-family: 'Robot', sans-serif;
  font-weight: bold;
}

.meal-details {
  margin-right: 50px;
  color: #e98074;
  font-family: 'Roboto', sans-serif;
}

.two li {
  margin-right: 0;
}

.meal-image {
  width: 80%;
  margin-top: 60px;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(0, 0, 0, 1)),
    color-stop(0.65, rgba(0, 0, 0, 1)),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
  position: relative;
}

.meal-image:hover {
  transform: scale(1.1);
}

.close-button {
  position: absolute;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  background-color: #1e1b26;
  color: rgb(141, 105, 105);
}

.close-button:hover {
  color: red;
  transform: scale(1.1);
}

.comment-text {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #a8a878;
  font-size: 25px;
}

.comment-counter {
  color: burlywood;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding-left: 10px;
  color: bisque;
  background-color: rgb(233, 224, 224);
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px #000 solid;
}

textarea {
  padding-left: 10px;
  color: bisque;
  background-color: rgb(236, 232, 232);
  width: 400px;
  border-radius: 5px;
  border: 1px #000 solid;
}

::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgb(112, 107, 107);
}

.btn {
  padding: 5px;
  box-shadow: 5px 5px rgb(26, 25, 25);
  margin-bottom: 20px;
  font-size: 20px;
  border: 2px #000 solid;
  width: 250px;
  background-color: #44318d;
  color: #fff;
}

.white {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

footer::after {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-color: darkgray;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  padding: 10px 0 10px 0;
  text-align: center;
}

@media only screen and (min-width: 678px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (max-width: 678px) {
  .meal-image {
    width: 80%;
    margin-top: 60px;
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(0, 0, 0, 1)),
      color-stop(0.35, rgba(0, 0, 0, 1)),
      color-stop(0.5, rgba(0, 0, 0, 1)),
      color-stop(0.65, rgba(0, 0, 0, 1)),
      color-stop(0.85, rgba(0, 0, 0, 0.6)),
      color-stop(1, rgba(0, 0, 0, 0))
    );
    position: relative;
  }

  .pop-up-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    border: 2px #000 solid;
    box-sizing: border-box;
    background-color: #1e1b26;
    margin: 60px auto 0 auto;
    box-shadow: 5px 5px 115px -14px black;
    border-radius: 4px;
    background-image: linear-gradient(
        rgba(22, 12, 46, 0.95),
        rgba(73, 66, 92, 0.95)
      ),
      url('img/capstone-meal.jpg');
  }

  .main-pop-up {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(100, 88, 88, 0.7);
    backdrop-filter: blur(3px);
    overflow-y: scroll;
    z-index: 1;
  }

  .pop-up-container.pop {
    display: grid;
  }

  .pop-up {
    text-align: center;
    width: fit-content;
  }

  .close-button {
    position: absolute;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    background-color: #1e1b26;
    color: rgb(141, 105, 105);
  }

  input {
    padding-left: 10px;
    color: bisque;
    background-color: rgb(179, 168, 168);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px #000 solid;
  }

  textarea {
    padding-left: 10px;
    color: bisque;
    background-color: rgb(68, 64, 64);
    width: 250px;
    border-radius: 5px;
    border: 1px #000 solid;
  }
}
