@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #464866;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: unset;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #aaabb8;
  padding: 0;
  margin: 0;
}

.navbar u {
  font-weight: bold;
}

nav img {
  display: none;
}

.tittle {
  font-family: 'Neonderthaw', sans-serif;
  font-size: 30px;
  color: #464866;
}

.name {
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 20px;
  color: #464866;
}

.meal-name {
  color: #464866;
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.meals-number {
  color: #def2f1;
}

.date {
  font-size: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #464866;
}

.cards-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 110px 10px;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 98%;
  background-position-x: 50%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: #29648a;
  transition: box-shadow 130ms ease-in-out;
  overflow: hidden;
  height: 430px;
  position: relative;
  margin-bottom: 0;
  padding: 50px;
  width: 370px;
}

.card:hover {
  box-shadow: 10px 12px 6px rgba(0, 0, 0, 0.2), -1px -1px 7px rgba(0, 0, 0, 0.2);
}

.flex-li {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #2e9cca;
  bottom: 65px;
  left: 0;
  position: absolute;
  right: 0;
  color: #fff;
  padding: 0;
  margin-right: 40px;
  width: 100%;
}

.flex-li span {
  color: #fff;
  margin-right: 10px;
}

.like {
  font-size: 24px;
  cursor: pointer;
}

.likeCounter {
  background-color: #fff;
  bottom: 40px;
  left: 0;
  font-family: 'Quintessential', sans-serif;
  position: absolute;
  right: 0;
  color: #464886;
  text-align: center;
}

.comments-btn {
  border: 1px solid #fff;
  background-color: #2e9cca;
  border-radius: 21px;
  color: #fff;
  position: absolute;
  bottom: 3px;
  right: 38%;
  text-align: center;
  margin: auto;
  padding: 0 4px;
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 20px;
}

.comments-btn:hover {
  color: #fccd04;
}

.pop-up-container {
  display: none;
  width: 60vw;
  border: 2px #000 solid;
  box-sizing: border-box;
  background-color: #1e1b26;
  margin: 60px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 4px;
  background-image:
  linear-gradient(
    rgba(22, 12, 46, 0.95),
    rgba(73, 66, 92, 0.95)
  ),
    url('img/capstone-meal.jpg');
}

.main-pop-up {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(100, 88, 88, 0.7);
  backdrop-filter: blur(3px);
  overflow-y: scroll;
  z-index: 1;
}

.pop-up-container.pop {
  display: grid;
}

.pop-up {
  text-align: center;
}

.span-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.id-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.meal-details1 {
  color: #a4b3b6;
  font-size: 22px;
  font-family: 'Robot', sans-serif;
  font-weight: bold;
}

.meal-details {
  margin-right: 50px;
  color: #e98074;
  font-family: 'Roboto', sans-serif;
}

.meal-image {
  width: 80%;
  margin-top: 60px;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: 
  -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(0, 0, 0, 1)),
    color-stop(0.65, rgba(0, 0, 0, 1)),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
  position: relative;
}

.meal-image:hover {
  transform: scale(1.1);
}

.close-button {
  position: absolute;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  background-color: #1e1b26;
  color: rgb(141, 105, 105);
}

.close-button:hover {
  color: red;
  transform: scale(1.1);
}

.comment-text {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #a8a878;
  font-size: 25px;
}

.comment-counter {
  color: burlywood;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding-left: 10px;
  color: bisque;
  background-color: rgb(233, 224, 224);
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px #000 solid;
}

textarea {
  padding-left: 10px;
  color: bisque;
  background-color: rgb(236, 232, 232);
  width: 400px;
  border-radius: 5px;
  border: 1px #000 solid;
}

::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgb(112, 107, 107);
}

.btn {
  padding: 5px;
  box-shadow: 5px 5px rgb(26, 25, 25);
  margin-bottom: 20px;
  font-size: 20px;
  border: 2px #000 solid;
  width: 250px;
  background-color: #44318d;
  color: #fff;
}

.white {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

footer::after {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-color: darkgray;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 22px;
  color: rgb(2, 28, 43);
  background-color: #aaabb8;
  font-weight: bold;
  padding: 10px 0 10px 0;
  text-align: center;
}

@media only screen and (min-width: 678px) {
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px 200px;
    margin: 100px 0 100px 0;
    text-align: center;
  }

  nav img {
    display: block;
    width: 100px;
    height: 100px;
  }

  .tittle {
    font-size: 70px;
  }

  .name {
    font-size: 40px;
  }

  .meal-name {
    font-size: 24px;
  }

  .comments-btn {
    font-size: 21px;
  }
}

@media only screen and (max-width: 678px) {
  .meal-image {
    width: 80%;
    margin-top: 60px;
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-mask-image: 
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(0, 0, 0, 1)),
      color-stop(0.35, rgba(0, 0, 0, 1)),
      color-stop(0.5, rgba(0, 0, 0, 1)),
      color-stop(0.65, rgba(0, 0, 0, 1)),
      color-stop(0.85, rgba(0, 0, 0, 0.6)),
      color-stop(1, rgba(0, 0, 0, 0))
    );
    position: relative;
  }

  .pop-up-container {
    display: none;
    width: 90vw;
    border: 2px #000 solid;
    box-sizing: border-box;
    background-color: #1e1b26;
    margin: 60px auto 0 auto;
    box-shadow: 5px 5px 115px -14px black;
    border-radius: 4px;
    background-image:
    linear-gradient(
      rgba(22, 12, 46, 0.95),
      rgba(73, 66, 92, 0.95)
    ),
      url('img/capstone-meal.jpg');
  }

  .main-pop-up {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(100, 88, 88, 0.7);
    backdrop-filter: blur(3px);
    overflow-y: scroll;
    z-index: 1;
  }

  .pop-up-container.pop {
    display: grid;
  }

  .pop-up {
    text-align: center;
    width: fit-content;
  }

  .close-button {
    position: absolute;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    background-color: #1e1b26;
    color: rgb(141, 105, 105);
  }

  input {
    padding-left: 10px;
    color: bisque;
    background-color: rgb(179, 168, 168);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px #000 solid;
  }

  textarea {
    padding-left: 10px;
    color: bisque;
    background-color: rgb(68, 64, 64);
    width: 250px;
    border-radius: 5px;
    border: 1px #000 solid;
  }
}
